@model IEnumerable<GiftBox.Web.ViewModels.Need.NeedViewModel>
@{
    ViewBag.Title = "All";
}

<div class="row">
    @foreach (var need in Model)
    {
        <a href="/Need/Details/@need.Id">
            <div style="position: relative" class="col s6">
                <div class="card hoverable bounceInLeft animated">
                    <figure class="effect-marley">
                        <img style="width: 100%" src="@need.ImageUrl" alt="img11">
                        <figcaption>
                            <h2><span class="white-text">@need.HomeName</span></h2>
                            <p class="white-text">@need.Description</p>
                            <a href="/Need/Details/@need.Id">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </a>
    }
</div>
