.card-profile-image {
    width: 140px;
    position: absolute;
    top: 220px;
    z-index: 1;
    left: 15px;
    cursor: pointer;
    margin: 0;
}
img.circle {
    border-radius: 10px !important;
}
.profile-btn {
    margin-right: -18px !important;
}

.collection .collection-item.avatar .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    padding: 10px;
}

#btn-comment {
    margin-top: 35px;
    margin-left: 15px;
}

img.emoji {  
  margin: 0px !important;
  display: inline !important;
}

.tabs {
    overflow-x: hidden !important;
}

#btnSearch {
    margin-top: 25px;
}