.card-profile-image {
    width: 140px;
    position: absolute;
    top: 220px;
    z-index: 1;
    left: 15px;
    cursor: pointer;
    margin: 0;
}
img.circle {
    border-radius: 10px !important;
}
.profile-btn {
    margin-right: -18px !important;
}

.collection .collection-item.avatar .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    padding: 10px;
}

#btn-comment {
    margin-top: 35px;
    margin-left: 15px;
}

img.emoji {  
  margin: 0px !important;
  display: inline !important;
}

.tabs {
    overflow-x: hidden !important;
}

#btnSearch {
    margin-top: 25px;
}

#site-layout-example-top {
    background-color: #E57373;
    height: 50px;
}

#site-layout-example-left {
    background-color: #90a4ae;
    height: 300px;
}

#site-layout-example-right {
    background-color: #26a69a;
    height: 300px;
}

.site-layout-example-bottom {
    background-color: #E57373;
    height: 50px;
}

.flat-text-header {
    height: 35px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.15);
    display: block;
    margin: 27px auto;
}

#all-gifts {
    margin-top: -35px;
}

.checkbox {
    visibility: visible !important;
    position: relative !important;
    left: 0 !important;
}

figure.effect-marley figcaption {
	text-align: right;
}

figure.effect-marley h2,
figure.effect-marley p {
	position: absolute;
	right: 50px;
	left: 20px;
	padding: 10px 0;
}


figure.effect-marley p {
    padding-left: 10px;
	bottom: 30px;
	line-height: 1.5;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-marley h2 {
	top: 30px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-marley:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-marley h2::after {
	position: absolute;
	top: 100%;
    right: 0;
	width: 95%;
	height: 4px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-marley h2::after,
figure.effect-marley p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.card .card-action {
    padding: 0 !important;
}

#homeDetailsImage {
    height: 200px;
}

.text-long-shadow{text-shadow:#1d7d74 1px 1px,#1d7d74 2px 2px,#1d7d74 3px 3px,#1d7d74 4px 4px,#1d7d74 5px 5px,#1d7d74 6px 6px,#1d7d74 7px 7px,#1d7d74 8px 8px,#1d7d74 9px 9px,#1d7d74 10px 10px,#1d7d74 11px 11px,#1d7d74 12px 12px,#1d7d74 13px 13px,#1d7d74 14px 14px,#1d7d74 15px 15px,#1d7d74 16px 16px,#1d7d74 17px 17px,#1d7d74 18px 18px,#1d7d74 19px 19px,#1d7d74 20px 20px,#1d7d74 21px 21px,#208b81 22px 22px,#208b81 23px 23px,#208b81 24px 24px,#208b81 25px 25px,#208b81 26px 26px,#208b81 27px 27px,#208b81 28px 28px,#208b81 29px 29px,#208b81 30px 30px,#26a69a 31px 31px,#26a69a 32px 32px,#26a69a 33px 33px,#26a69a 34px 34px,#26a69a 35px 35px,#26a69a 36px 36px,#26a69a 37px 37px;background-color:#26a69a;width:100%;font-size:10rem;color:#fff !important;text-align:center;padding:20px 0 !important}.login-form{width:280px}.login-form-text{text-transform:uppercase;letter-spacing:2px;font-size:0.8rem}.profile-image-login{width:100px;height:100px !important}.login-text{margin-top:-6px;margin-left:-6px !important}