@{
    ViewBag.Title = "About";
}

<div class="card-panel">
    <h3>The Idea</h3>

    <p>Gift Box is an initiative for institutions taking care of homeless children. Our main goal is to allow the community to help by donating gifts and fulfilling other needs a home may have.</p>

    <h3>How it works</h3>

    <b>Institutions</b>
    <p>If you're a homeless institution representative, register your home. After an approvement from the administration, post all the needs the home has. Include all the gifts the children in your home need for occasions like birthdays or Christmas.</p>

    <b>Community</b>
    <p>If you're a person, willing to take part in the initiative, browse through all the posted needs and either donate a gift or help with one of the other needs o the institution.</p>
</div>
