@using GiftBox.Common
@using GiftBox.Web.ViewModels
@model IEnumerable<GiftBox.Web.ViewModels.Gift.GiftViewModel>
@{
    ViewBag.Title = "All";
}

<div class="row">
    <div class="col s3 offset-s2">
        @{ Html.RenderAction("GetEventCategoriesPartial");}
    </div>
    <div class="col s6">
        @Html.Partial(GlobalConstants.SearchPartial, new SearchViewModel() {Action = "All", Label = "Search by Home name"})
    </div>
</div>
<div id="all-gifts">
    <div id="ajax-search-results"></div>
    @Html.Partial(GlobalConstants.ListGiftsPartial, Model)
</div>
@section scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/custom")
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });


        var page = 0,
   inCallback = false,
   hasReachedEndOfInfiniteScroll = false;

        var scrollHandler = function () {
            if (hasReachedEndOfInfiniteScroll == false &&
                    ($(window).scrollTop() == $(document).height() - $(window).height())) {
                loadMoreToInfiniteScrollTable(moreRowsUrl);
            }
        }

        function loadMoreToInfiniteScrollTable(loadMoreRowsUrl) {
            if (page > -1 && !inCallback) {
                inCallback = true;
                page++;
                $.ajax({
                    type: 'GET',
                    url: loadMoreRowsUrl,
                    data: { page: page },
                    success: function (data, textstatus) {
                        if (data != '') {
                            $("#all-gifts").html(data).show();
                        }
                        else {
                            page = -1;
                        }

                        inCallback = false;
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                });
            }
        }

        function showNoMoreRecords() {
            hasReachedEndOfInfiniteScroll = true;
        }

        var moreRowsUrl = "/Gift/InfiniteScroll";
        $(window).scroll(scrollHandler);
    </script>
}