@model IEnumerable<GiftBox.Web.ViewModels.Institution.DetailsInstitutionViewModel>

<div class="row" id="all-homes">
    @foreach (var home in Model)
        {
        <a href=@Url.Action("Details", "Institution", new { area = "", id = home.Id })>
            <div class="col s4 flipInX animated hoverable" style="padding: 0 10px;">
                <div class="card z-depth-2">
                    <div class="card-image">
                        <img id="storyImage" src=@home.ImageUrl alt="sample image" />

                        <span class="card-title" id="cardTitle"></span>
                    </div>
                    <div class="card-content">
                        <span class="left"><b>@home.Name</b></span>
                        <span class="right"><b>@home.Location.City</b></span>
                    </div>

                    <div class="card-action center">
                        <a href=@Url.Action("Details", "Institution", new {area = "", id = home.Id})>Details</a>
                    </div>
                </div>
            </div>
        </a>
    }

</div>


